APP_NAME="Lumen Boilerplate"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://lumen-boilerplate.test

API_SUBTYPE=lumen.boilerplate

LOG_CHANNEL=daily
LOG_SLACK_WEBHOOK_URL=

DB_HOST=192.168.10.10
DB_DATABASE=lumen_boilerplate
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="Example app"
